.main {
    background-image: url(2.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLink { /* Здесь мы стилизуем кнопку поиска */
    background: rgb(187, 166, 211);
    padding: 4px 6px 4px 6px;
    border: solid rgb(84, 65, 90);
    border-width: 0px 0px 3px 3px;
    border-radius: 3px;
    color:rgb(246, 250, 0);
    font-weight: 600
}

.mainLink:hover {
    color: white;
    text-decoration: none;/* Убрать нижнее подчёркивание у ссылок */
}

.happy {
    background-image: url(3.jpg);
}
